<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <top>
                <div class="top_bar">

                </div>
            </top>

            <nav>
                <div class="w3-bar w3-blue-grey">
                    <a href="{{ path('home') }}" class="w3-bar-item w3-button">Home</a>
                    <a href="{{ path('products') }}" class="w3-bar-item w3-button w3-hide-small">Products</a>
                    <a href="{{ path('discount') }}" class="w3-bar-item w3-button w3-hide-small">Discount</a>
                    <a href="{{ path('about') }}" class="w3-bar-item w3-button w3-hide-small">About us</a>
                    <a href="{{ path('support') }}" class="w3-bar-item w3-button w3-hide-small">Support</a>
                    <a href="{{ path('security_register') }}" class="w3-bar-item w3-button w3-hide-small">Sign-up</a>

                    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium w3-animation-fading" onclick="navbar()">&#9776;</a>
                </div>

                <div id="nav" class="w3-bar-block w3-blue-grey w3-hide w3-hide-large w3-hide-medium w3-animation-fading">
                    <a href="{{ path('products') }}" class="w3-bar-item w3-button">Products</a>
                    <a href="{{ path('discount') }}" class="w3-bar-item w3-button">Discount</a>
                    <a href="{{ path('about') }}" class="w3-bar-item w3-button">About us</a>
                    <a href="{{ path('support') }}" class="w3-bar-item w3-button">Support</a>
                    <a href="{{ path('security_register') }}" class="w3-bar-item w3-button">Sign-up</a>
                </div>
            </nav>
        </header>


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('assets/js/navbar.js') }}"></script>
    </body>
</html>
